body {
	background-image: url('../images/backdrop.png');
	background-repeat: repeat;
	margin: 0 auto;
	text-align: center;
}

#img-banner {
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-banner {
	margin: 0 auto;
	text-align: center;
	background-color: white;
	width: 50%;
}

.header-banner h1 {
	font-family: 'Bangers', cursive;
	font-size: 73px;
	letter-spacing: 10px;
	margin-bottom: 10px;
}

.header-banner h2 {
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
}

#question {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 36px;
	font-weight: lighter;
	letter-spacing: 5px;
	padding-bottom: 20px;
	margin-top: 2px;
}
.content-container {
	margin: 0 auto;
	width: 50%;
	display: flex;
}

.game-content {
	flex: 1;
	border: 2px dotted black;
	background-color: thistle;
}

#hang-word {
	letter-spacing: 10px;
	font-size: 30px;
}
p {
	font-size: 18px;
}
